@page "/testimonials"

<h3>Testimonials</h3>
@using MedicalPractice.Pages.Components

<TestimonialCard PatientName="John Doe"
             Rating="5"
             Comment="Great experience with the staff and doctors." />

<TestimonialCard PatientName="Jane Smith"
                 Rating="4"
                 Comment="I highly recommend this medical center."/>

<TestimonialCard PatientName="Alice Johnson"
                 Rating="5"
                 Comment="Outstanding care and service." />
